#!{{ python_bin }}

from django.contrib.auth import get_user_model

User = get_user_model()

try:
    user = User.objects.get(username="{{ username }}")
    user.set_password("{{ password }}")
    user.save()
except User.DoesNotExist:
    User.objects.create_superuser(
        username="{{ username }}",
        password="{{ password }}",
        email="{{ email }}",
    )
