[Unit]
Description=Paperless consumer
After=network.target

[Service]
User={{ site.user_name }}
Group={{ site.user_name }}
WorkingDirectory={{ site.install_dir }}
ExecStart={{ venv_dir }}/bin/python \
    {{ site.install_dir }}/src/manage.py \
    document_consumer

[Install]
WantedBy=multi-user.target
