[Unit]
Description=Paperless webserver
After=network.target

[Service]
User={{ site.user_name }}
Group={{ site.user_name }}
WorkingDirectory={{ site.install_dir }}
ExecStart={{ venv_dir }}/bin/gunicorn \
    --pythonpath={{ site.install_dir }}/src \
    {{ site.name + ".wsgi" }} \
    -w 2 \
    --access-logfile /var/log/access_{{ site.name }}.log \
    --error-logfile /var/log/error_{{ site.name }}.log

[Install]
WantedBy=multi-user.target
