# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "paperless/defaults.yaml" as defaults %}
{% import_yaml "paperless/osfamilymap.yaml" as osfamilymap %}

{% set paperless = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('paperless:lookup', {}),
  ),
  base='paperless')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
